<!DOCTYPE html>
<html ng-app="store">
<head>
	<title>Flatlander's Gem Store</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/app.css" />	
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/products.js"></script>	
</head>
<body ng-controller="StoreController as store">
	<div class="container">
		<div class="row">
			<div class="list-group col-md-4 col-md-offset-4">
				<div class="list-group-item" ng-repeat="product in store.products | orderBy:'-price'" ng-hide="product.soldOut">
					<product-title></product-title>
					<h1>{{product.name}}</h1>
					<em class="pull-right">{{product.price | currency}}</em>			
					<p>{{product.description}}</p>
					<button ng-show="product.canPurchase">Add to Cart</button>

					<div class="gallery" ng-show="product.images.length" ng-controller="GalleryController as gallery">
						<img class="img img-circle img-thumbnail center-block" ng-src="{{product.images[gallery.current]}}" />
						<ul class="clearfix">
							<li class="small-image pull-left thumbnail" ng-repeat="image in product.images" ng-hide="{{$index + 1}}==1">
								<a href ng-click="panel.setCurrent(0)"><img ng-src="{{image}}" /></a>	
							</li>
						</ul>
					</div>
					<product-panels ng-controller="PanelController as panel">
						<ul class="nav nav-pills">
							<li ng-class="{active : panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">Description</a></li>
							<li ng-class="{active : panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">Specifications</a></li>
							<li ng-class="{active : panel.isSelected(3)}"><a href ng-click="panel.selectTab(3)">Reviews</a></li>
						</ul>
						<div class="panel" ng-show="panel.isSelected(1)">
							<h4>Description</h4>
							<p>{{product.description}}</p>
						</div>
						<div class="panel" product-specs ng-show="panel.isSelected(2)"></div>
						<div class="panel" ng-show="panel.isSelected(3)">
							<h4>Reviews</h4>
							<blockquote ng-repeat="review in product.reviews">
			                  <strong>{{review.stars}} Stars</strong>
			                  {{review.body}}
			                  <cite class="clearfix">-{{review.author}} on {{review.createdOn | date:'MM/dd/yyyy' }}</cite>
			                </blockquote>
							<form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
													ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
								<blockquote>
									<strong>{{reviewCtrl.review.stars}} Stars</strong>
				                  	{{reviewCtrl.review.body}}
				                  	<cite class="clearfix">—{{reviewCtrl.review.author}} on {{reviewCtrl.createdOn | date:'MM/dd/yyyy' }}</cite>
								</blockquote>	
								
								<h4>Submit a Review</h4>	
								<fieldset class="form-group">						
					                <select class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" ng-model="reviewCtrl.review.stars" required>
					                  <option value="">Rate the Product</option>
					                </select>
								</fieldset>
								<fieldset class="form-group">	
									<textarea class="form-control" placeholder="Write a short review of the product..." title="Review" ng-model="reviewCtrl.review.body" required></textarea>
								</fieldset>
								<fieldset class="form-group">	
									<input type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" ng-model="reviewCtrl.review.author" required />
								</fieldset>
								<fieldset class="form-group">	
									<input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
								</fieldset>
							</form>
						</div>						
					</product-panels>

				</div>
			</div>
		</div>
	</div>
</body>
</html>